svg, svg polygon {
  fill: #FFF;
  stroke-width: 0;
}

.separatorDiv {
  text-align: center;
  background-color: none;
  margin: 2em 0;
  border: none;
}

.serverInfoPage {
  /*background-color: #4278ad;*/
  background-color: #f7f9fe;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.placediv {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #4e79d0;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-shadow: 2px 2px #d3d1e6;
}

.sinfodiv {
  color: #FFF;
  height: 100%;
  margin-top: 5px;
  /*padding: 5%;*/
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.navdiv {
  color: #FFF;
  background-color: #2c4e94;
  height: 100%;
  width: 25%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
  border-right: 2px solid black;
  /*justify-content: center; */
}

.navTitle {
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px black;
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.headerTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.serverInfoDiv {
  height: 100%;
  position: fixed;
  width: 75%;
  top: 0;
  bottom: 0;
  right: 0;
}

.formNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.btn-main {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:focus {
    color: #FFF !important;
}

.btn-main:hover{
  background-color: #3a65bd;
}

.btn-color {
  background-color: #3557a7;
  color: #FFF;
  border-color: #FFF;
}

.btn-color:hover {
  color: #FFF;
}

.formDel {
  display: grid;
}

.formDel input {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #b93939;
  color: #FFF;
  border-color: #FFF;
}

.formDel input:hover {
  background-color: #fd6060;
  color: #FFF;
}


hr {
  width: 85%;
  border-width: 3px;
  border-style: dashed;
}

h3 {
  font-size: 16px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  /*background-color: #4278ad;*/
  background-color: #f7f9fe;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  /*background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #3ea8dd, #005eb8 90%);
  background: -moz-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -moz-linear-gradient(108deg, #3ea8dd, #005eb8 90%);
  background: -o-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -o-linear-gradient(108deg, #3ea8dd, #005eb8 90%);
  background: -ms-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -ms-linear-gradient(108deg, #3ea8dd, #005eb8 90%);
  */
}

.fullpage {
  width: 100%;
  height:100%;
}

.select-css {
	display: block;
	color: #FFF;
  background-color: #2c4e94;
  text-align: left;
  border: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: scroll;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.3;
	width: 100%;
  height: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	outline: none;
}
.select-css:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select-css::-webkit-scrollbar {
  width: 0px;
}

.select-css option {
  margin-bottom: 2px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.select-css option:checked {
  background: #666;
  color: #fff;
  font-weight: bold;
  border: none;
}

.iframe-css {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  border:0px;
  /*border-radius: 5px;
  border: 2px solid #fff;*/
}

/*** Table Styles **/
.infoTable {
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
}

.table-fill {
  background: white;
  border-radius:3px;
  max-height: 320px;
  margin: auto;
  max-width: 1024px;
  padding:3px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.infoTable th {
  color:#D5DDE5;;
  background:#2c4e94;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  /*border: 1px solid white; */
}

.infoTable th:first-child {
  /*border-top-left-radius:3px; */
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.infoTable th:last-child {
  /*border-top-right-radius:3px; */
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.infoTable tr {
  border: 1px solid #C1C3D1;
  color:#365aa0;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/*.infoTable tr:hover td {
  background:#3f60a2;
  color:#FFF;
  border: 1px solid #FFF;
} */

.infoTable tr:first-child {
  border: 1px solid #3f60a2;
}

.infoTable tr:last-child {
  border: 1px solid #3f60a2;
}

.infoTable tr:nth-child(odd) td {
  background:#EBEBEB;
}

/*.infoTable tr:nth-child(odd):hover td {
  background:#3f60a2;
}*/

.infoTable tr:last-child td:first-child {
  border-bottom: 1px solid black;
  /*border-bottom-left-radius:5px;*/
}

.infoTable tr:last-child td:last-child {
  border-bottom: 1px solid black;
  /*border-bottom-right-radius:5px;*/
}

.infoTable td {
  background:#FFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #C1C3D1;
}

.infoTable td:first-child {
  width: 25%;
  border-left: 1px solid black;
}

.infoTable td:last-child {
  /*border-right: 0px;*/
  border-right: 1px solid black;
}

.infoTable th.text-left {
  text-align: left;
}

.infoTable th.text-center {
  text-align: center;
}

.infoTable th.text-right {
  text-align: right;
}

.infoTable td.text-left {
  text-align: left;
}

.infoTable td.text-center {
  text-align: center;
}

.infoTable td.text-right {
  text-align: right;
}

/* Searchable table */
.searchInput {
  background-image: url('/style/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searchTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

.searchTable th {
  text-align: left;
  padding: 12px;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  color: #2c4e94;
}

.searchTable td {
  text-align: left;
  padding: 12px;
  background-color: #FFF;
}

.searchTable tr {
  border-bottom: 1px solid #ddd;
}

.searchTable tr.header, .searchTable tr:hover {
  background-color: #f1f1f1;
}
